{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NewsPortal</title>
    <link rel="stylesheet" href='{% static "css/styles.css" %}'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">NewsPortal</h1>
        <br>
        <br>
        <p></p>
        <p>
        <a class="btn btn-primary btn-lg" href="/movies" role="button">Movies</a>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="/sports" role="button">Sports</a>&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="/social" role="button">Social_Media</a>
        </p>
    </div>
  <div>
    {#  <img src="https://images.unsplash.com/photo-1583791232860-bc716a815956?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80">#}
<footer>

<span>Design by | <a id="footer"  href="https://www.instagram.com/vuttejkumar/?hl=en">Vee</a> </span>


</footer>
  </body>


</html>
